*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


body{
  color: rgba(208, 208, 208, 0.82);
  background: rgb(103,50,218);
  background: linear-gradient(66deg, rgba(103,50,218,1) 0%, rgba(16,16,176,1) 60%, rgba(0,212,255,1) 100%);

}


span{
  font-weight: bold;
  color: #3A86FF;
}

/*        main             */
main{
  margin: 6rem 1rem;
  padding: 1rem;
  /*border: 1px solid rgb(58, 134, 255);*/
}

@media (min-width: 900px) {
  main{
    margin: 6rem 6rem 0 6rem;
    padding: 0 3rem 0 3rem;
    /*border: 1px solid rgb(58, 134, 255);*/
    height: 100%;
    width: 50vw;
  }
}


/*        experience       */
.experience{
  margin: 6rem 6rem 0 6rem;
  padding: 0 3rem 3rem 3rem;
  /*border: 1px solid rgb(58, 134, 255);*/
  height: 100%;

}


.expCard:hover {
  transform: translateY(-16px);
}

.expCard{
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  background: hsla(280, 84%, 41%, 1);
  background: linear-gradient(45deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8711c1", endColorstr="#2472fc", GradientType=1 );
}
.expDiv{
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  .experience{
    margin: 6rem 1rem;
    padding: 1rem;
  }
  .expCard{
    margin-bottom: 3rem;
    padding: 1rem;
  }
  .expDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}





/*html {margin: 0; height: 100%; overflow: hidden}*/
html {margin: 0; height: 100%}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

html::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}